{% extends "layout.html" %}
{% block body %}

<label>Formulario Actualizar Marcas</label>
<form action="/actualizar_marca/{{lista.id}}" method="POST"> 
    <input  type="text" id="{{lista.id}}" name="nombre" value="{{lista.nombre}}">
    <button type="submit">Guardar</button>
</form>
{% endblock %}