{% extends "layout.html" %}
{% block body %}

<label>Formulario Actualizar Roles</label>
<form action="/actualizar_rol/{{lista.id}}" method="POST">
    <input type="text" id="{{lista.id}}" name="nombre" value="{{lista.nombre}}">
    <button type="submit">Guardar</button>
</form>
{% endblock %}