{% extends "layout.html" %}
{% block body %}

<label>Formulario Actualizar Producto</label>
<div class = "col-md-4">
    <div class="card card-body">
      <form action="/actualizar_producto/{{lista.id}}" method="POST"> 
        <div class = "form-group mb-3">
          <input id="{{lista.id}}"  type="text" class="form-control" name="nombre" value="{{lista.nombre}}">
        </div>
          <div class = "form-group mb-3">      
              <select name="categoria" class="form-select" aria-label="Default select example">
                  <option>Seleccione la categoria</option>
                  <option value="{{lista.id_categoria}}" selected >{{lista.nom_categoria}}</option>
                  {% for elemento in lista2 %}
                  <option value="{{elemento.id_categoria}}">{{elemento.nom_categoria}}</option>
                  {% endfor %}
              </select>   
          </div>
          <div class = "form-group mb-3">
              <select name="marca" class="form-select" aria-label="Default select example">
                  <option>Seleccione la marca</option>
                  <option value="{{lista.id_marca}}" selected>{{lista.nom_marca}}</option>
                  {% for elemento in lista1 %}
                  <option value="{{elemento.id_marca}}">{{elemento.nom_marca}}</option>
                  {% endfor %}
              </select>  
          </div>
          <div class = "form-group mb-3">
              <select name="proveedor" class="form-select" aria-label="Default select example">
                  <option>Seleccione el proveedor</option>
                  <option value="{{lista.id_proveedor}}" selected>{{lista.nom_proveedor}}</option>
                  {% for elemento in lista3 %}
                  <option value="{{elemento.id_proveedor}}">{{elemento.nom_proveedor}}</option>
                  {% endfor %}
              </select>  
          </div>
          <button type="submit" class = "btn btn-primary">
            Guardar
          </button>
      </form>
    </div>
  </div>
{% endblock %}