<head>BIENVENIDOS A MI BARRIO</head>

<br>
<br>
<label>Páginas</label>
<br>
<a href="/list_categorias">Categorias</a>
<br>
<a href="/list_productos">Productos</a>
<br>
<a href="/list_marcas">Marcas</a>
<br>
<a href="/list_proveedores">Proveedores</a>
<br>
<a href="/list_roles">Roles</a>
<br>
<a href="/list_usuarios">Usuarios</a>