<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MI BARRIO PUNTO.COM</a>
      <a class="navbar-brand">Usuario: {{session['id']}}</a>
      <a class="navbar-brand" aria-current="page" href="/login">Salir</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if session["rol"] == "admin" %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_marcas">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_proveedores">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/list_roles">Roles</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/registro">Registro</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container pt-4">
    {% block body %}
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>