{% extends "layout.html" %}
{% block body %}
<div class = "row"><h5>LOGIN USUARIO</h5></div>
  <div class = "row">
    <div class = "col-md-4">
      <div class="card card-body">
        <form action="/login" method="POST"> 
          <div class = "form-group mb-3">
            <input id="email"  type="text" class="form-control" name="email" placeholder="email">
          </div>
          <div class = "form-group mb-3">
            <input id="password"  type="text" class="form-control" name="password" placeholder="password">
          </div>
            <button type="submit" class = "btn btn-primary">
              Ingresar
            </button>
        </form>
      </div>
    </div>
{% endblock %}