{% extends "layout.html" %}
{% block body %}
<title>MARCAS</title>
<br>
<div class="row">
  <h3>MARCAS</h3>
</div>
<div class="row">
  {% if session["rol"] == "admin" %}
  <div class="col-md-4">
    <div class="card card-body">
      <form action="/list_marcas" method="POST">
        <div class="form-group mb-3">
          <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre de la marca">
        </div>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-sm table-striped table-bordered" style="width: 100%">
      <thead>
        <tr>
          <td>Indice</td>
          <td>Marca</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        {% for elemento in lista %}
        <tr>
          <td>{{elemento.id}}</td>
          <td>{{elemento.nombre}}</td>
          <td with="100">
            <a href="/borrar_marca/{{elemento.id}}" class="btn btn-danger">Eliminar</a>
            <a href="/actualizar_marca/{{elemento.id}}" class="btn btn-warning">Actualizar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<br>
<br>
<br>
<a href="/">Volver al menú principal</a>
{% endblock %}