<title>MARCAS</title>
<head>LISTA MARCAS</head>
<br>
    <ol>
        {% for elemento in lista %}
        <li>{{elemento}}</li>
        {% endfor %}
    </ol>
<br>
<br>
<label>Formulario Marcas</label>
<form action="/add_marca" method="POST"> 
    <input  type="text" name="nombre" placeholder="Nombre">
    <button type="submit">Guardar</button>
</form>
<a href="/">Return</a>