{% extends "layout.html" %}
{% block body %}
<title>PRODUCTOS</title>
<br>
<div class="row">
  <h3>PRODUCTOS</h3>
</div>
<div class="row">
  {% if session["rol"] == "admin" %}
  <div class="col-md-4">
    <div class="card card-body">
      <form action="/list_productos" method="POST">
        <div class="form-group mb-3">
          <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre del producto">
        </div>
        <div class="form-group mb-3">
          <select name="categoria" class="form-select" aria-label="Default select example">
            <option selected>Seleccione la categoria</option>
            {% for elemento in lista2 %}
            <option value="{{elemento.id_categoria}}">{{elemento.nom_categoria}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <select name="marca" class="form-select" aria-label="Default select example">
            <option selected>Seleccione la marca</option>
            {% for elemento in lista1 %}
            <option value="{{elemento.id_marca}}">{{elemento.nom_marca}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <select name="proveedor" class="form-select" aria-label="Default select example">
            <option selected>Seleccione el proveedor</option>
            {% for elemento in lista3 %}
            <option value="{{elemento.id_proveedor}}">{{elemento.nom_proveedor}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="col-md-8">
    <table class="table table-sm table-striped table-bordered" style="width: 100%">
      <thead>
        <tr>
          <td>Indice</td>
          <td>Producto</td>
          <td>Marca</td>
          <td>Categoria</td>
          <td>Proveedor</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        {% for elemento in lista %}
        <tr>
          <td>{{elemento.id}}</td>
          <td>{{elemento.nombre}}</td>
          <td>{{elemento.nom_marca}}</td>
          <td>{{elemento.nom_categoria}}</td>
          <td>{{elemento.nom_proveedor}}</td>
          {% if session["rol"] == "admin" %}
          <td with="100">
            <a href="/borrar_producto/{{elemento.id}}" class="btn btn-danger">Eliminar</a>
            <a href="/actualizar_producto/{{elemento.id}}" class="btn btn-warning">Actualizar</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<br>
<a href="/">Volver al menú principal</a>
{% endblock %}